@model MyLoyalty.Models.Produto

@{
    ViewData["Title"] = "Excluir Produto";
}

<h2>@ViewData["Title"]</h2>

<h3>Você deseja realmente excluir esse produto ?</h3>
<div>
    <h4>Produto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.tipo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tipo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.codigo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.codigo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.cor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.cor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.tamanho)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tamanho)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.genero)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.genero)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.estoque)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.estoque)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <a class="btn btn-info" asp-action="Index"><i class="glyphicon glyphicon-arrow-left">&nbsp;</i>Voltar</a>&nbsp;
        <button type="submit" class="btn btn-danger"><i class="glyphicon glyphicon-trash">&nbsp;</i>Excluir</button>
    </form>
</div>
